
.Shop {
    background: #808080;
}

video {
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    background: #808080;
    background-size: cover;
}

VideoFront {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.Contend {
    margin-top: 200px;
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

}

.histori {
    color: #f1f1f1;
}

.Desc {
    z-index: 2;
    width: 800px;
    color: #f1f1f1;
}

.about {
    color: #f1f1f1;
    position: center;
    margin-bottom: 10px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.lead {
    width: 600px;
}

.LifeObject{

    position:center;
    margin-top: auto;
}

.container{
    margin-top: 70px;
}

.foot {
    margin-top: 70px;
    z-index: -2;
    position: center;
}

.Adress {
    display: flex;
    padding: 0,0,50px,0;
}

.container {
    color: #f1f1f1;
}

.contNumber {
    width: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
}

.contEmail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979ff;
}

