@page
@model Disable2faModel
@{
    ViewData["Title"] = "Вимкнути двофакторну аутентифікацію";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ця дія вимикає лише двофакторної аутентифікації </strong>
    </p>
    <p>
        Вимкнення двофакторної аутентифікації не змінює ключі, які використовуються в програмах автентифікації. 
        Якщо ви бажаєте змінити ключ, який використовується в програмі автентифікатора, вам слід це зробити
        <a asp-page="./ResetAuthenticator">скинути ключі автентифікатора.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Вимкнути двофакторну аутентифікацію</button>
    </form>
</div>
