@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генеруйте коди відновлення двофакторної автентифікації ";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Покладіть ці коди в безпечне місце.</strong>
    </p>
    <p>
        Якщо ви втратите пристрій і не матимете кодів відновлення, ви втратите доступ до свого облікового запису.
    </p>
    <p>
        Створення нових кодів відновлення не змінює ключі, які використовуються в програмах автентифікації. 
        Якщо ви бажаєте змінити ключ, який використовується в програмі автентифікатора, вам слід це 
        зробити <a asp-page="./ResetAuthenticator">скинути ключі автентифікатора.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Створення кодів відновлення</button>
    </form>
</div>
