
<div>
    <div>
        <h1>КОНТАКТИ</h1>
        <hr class="featurette-divider">
        <h3>
            Ми знаходимиося:
        </h3>
        <p class="Cont1">
            ул. Праведников мира,4, Винница, Украина, 21036
        </p>
    </div>
    <div>
        <hr class="featurette-divider">
        <h3>
            Телефони гарячої лінії:
        </h3>
        <p class ="contNumber">
            <a href="tel:+380934460508">+380934460508</a>
            <a href="tel:+380635494630">+380635494630</a>
            <a href="tel:+380500354437">+380500354437</a>
        </p>
    </div>
    <div>
        <hr class="featurette-divider">
        <h3>
            Електронна пошта:
        </h3>
        <p class="contEmail">
            <a href="mailto:roadofthefuture.group@gmail.com">roadofthefuture.group@gmail.com</a>
        </p>
        <hr class="featurette-divider">
        <h5>
            Для замовлення матеріалу зверніться до операторів колл-центру для уточнення інформації та заповнення акту покупки.
        </h5>
    </div>
</div>
