 @{
    ViewData["Title"] = "Road of the future";
}
<div>
    <div class="Video">
        <video class="VideoFront" src="~/MP4/pexels.mp4" autoplay muted loop > </video>
    </div>
    <div class="Contend" > 
        <h1>Road of the future</h1>
        <p class="Desc">Road of the future - лідер інфраструктурного будівництва України, що виконує найскладніші 
         проєкти на найвищому рівні. Власні мобільні асфальтобетонні заводи забезпечують безперебійну 
         подачу високоякісних асфальтобетонних сумішей. Це дозволяє нам самостійно та незалежно 
         виконувати усі етапи дорожньо-будівельних робіт найвищої якості по всій території України. 
         Підприємства є абсолютно безпечними для довкілля, оскільки кожен завод оснащений сучасними 
         сухими фільтрами</p>
        <button type="button" class="btn btn-secondary btn-lg" id="myBtn">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Про нас</a>
        </button>
    </div>
</div>



