@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="about_us">
    <div class="histori">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Історія успіху <span class="text-body-secondary"></span></h2>
                <p class="lead">Компанія Road of the future створенa як спільне українсько-німецьке підприємство.
                    З перших днів роботи запроваджено німецькі стандарти контролю якості на всіх етапах 
                    виробництва. Автопарк укомплектовано кращими зразками новітньої техніки від провідних 
                    світових виробників. Відкрито екологічно чисті асфальтні заводи, створено власні потужні 
                    виробничі бази, сформовано команду найдосвідченіших спеціалістів дорожньої галузі України.
                    ROF має сертифікат відповідності міжнародному стандарту ISO 9001, що підтверджує 
                    високий рівень сервісу, організованості внутрішніх бізнес-процесів, раціональне 
                    використання ресурсів, високу мотивацію і залученість персоналу. Також компанія
                    є асоційованим членом AECU та найбільшої міжнародної організації у сфері будівельного 
                    консультування FIDIC.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-thumbnail" src="/img/Objects/background.jpeg" width="500" height="500" />
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Ті, хто будують майбутне <span class="text-body-secondary"></span></h2>
                <p class="lead">Досвід та професіоналізм – головні якості усіх працівників компанії. 
                    Ключові посади обіймають фахівці, які показали свою високу майстерність на складних 
                    проєктах по всій Україні: в будівництві розв’язок, злітних смуг, автострад. Це 
                    висококваліфіковані професіонали своєї справи. Їх вирізняють відданість роботі, бажання 
                    передавати молодому поколінню власний досвід і знання та постійний саморозвиток. 
                    В ROF є спеціалісти, які мають п’ятдесятирічний досвід роботи в дорожній галузі. 
                    Під їхнім керівництвом і наставництвом виростають справжні професіонали. Наші працівники 
                    постійно вивчають інноваційні підходи у будівництві доріг, обмінюються досвідом з 
                    іноземними партнерами. Все це дає можливість виконувати дорожні роботи найвищої складності.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-thumbnail" src="/img/Vacancies/Junior_master.jpeg" width="500" height="500" />
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"> Збудовані об'єкти <span class="text-body-secondary"></span></h2>
                <p class="lead">
                    У 2021 році ROF відремонтувала понад 800 км доріг та 50 мостових переходів. 
                    Компанія працює в 11 регіонах України. Завдяки наявності власних мобільних асфальтобетонних
                    заводів та пересувних лабораторій можемо запускати роботи на новому об'єкті менш ніж за 
                    30 днів. Парк техніки від найкращих світових виробників та команда професіоналів з 
                    багаторічним досвідом роботи гарантують якісне будівництво й відновлення автошляхів та 100%
                    виконання зобов'язань перед замовником. Провідні технології, професійна команда, 
                    найсучасніші обладнання та техніка забезпечують високий рівень мобільності і можливість
                    виконувати роботи по всій території країни. Німецькі стандарти контролю якості на всіх 
                    етапах виробництва гарантують 10-річний термін експлуатації дорожнього покриття.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-thumbnail" src="/img/Objects/background2.jpeg" width="500" height="500" />
            </div>
        </div>
    </div>
    <div>
        <h1 class="LifeObject">Об'єкти, які введені в єксплуатацію</h1>
    </div>
    <div class="object">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/img/Objects/Object_1.jpeg" class="d-block w-100" alt="1">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/img/Objects/Object_2.jpeg" class="d-block w-100" alt="2">
                </div>
                <div class="carousel-item">
                    <img src="/img/Objects/Object_3.jpeg" class="d-block w-100" alt="3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
